bin
obj
.git
.gitignore
.vs
.vscode
node_modules
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs
*.pidb
*.booproj
*.svclog
*.scc
*.pdb
*.mdb
*.opendb
*.VC.db
*.VC.opendb
.vs/
packages/
TestResults/
*.ncrunchproject
*.ncrunchsolution
*.*proj.user
*.*proj.user.*
*.tmp
*.log
*.swp
*.swo
.DS_Store
Thumbs.db
